Source: openmediavault-helios4
Section: net
XB-Plugin-Section: utilities
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.3.0
Homepage: http://omv-extras.org/

Package: openmediavault-helios4
Architecture: all
Depends: openmediavault (>= 5.6)
Description: Helios4 plugin for OpenMediaVault
